<div class="hero">
  <span class="text">Hola, espero que estes hambriento!</span>
  <app-search-input></app-search-input>
</div>
<div class="container">
  <section class="pizzas">
    <span class="title">Popular</span>
    <div class="cards">
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="pizza-image" class="pizza-image">
        </figure>
        <span class="pizza-name">Sausage Pizza</span>
        <span class="ingredients">sausage, cheese, tomato avefadfad</span>
        <div class="options">
          <span class="price">$500.00</span>
          <span class="cart">
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="pizza-image" class="pizza-image">
        </figure>
        <span class="pizza-name">Sausage Pizza</span>
        <span class="ingredients">sausage, cheese, tomato avefadfad</span>
        <div class="options">
          <span class="price">$500.00</span>
          <span class="cart">
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="pizza-image" class="pizza-image">
        </figure>
        <span class="pizza-name">Sausage Pizza</span>
        <span class="ingredients">sausage, cheese, tomato avefadfad</span>
        <div class="options">
          <span class="price">$500.00</span>
          <span class="cart">
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="pizza-image" class="pizza-image">
        </figure>
        <span class="pizza-name">Sausage Pizza</span>
        <span class="ingredients">sausage, cheese, tomato avefadfad</span>
        <div class="options">
          <span class="price">$500.00</span>
          <span class="cart">
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
      <div class="card">
        <figure>
          <img
            src="https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
            alt="pizza-image" class="pizza-image">
        </figure>
        <span class="pizza-name">Sausage Pizza</span>
        <span class="ingredients">sausage, cheese, tomato avefadfad</span>
        <div class="options">
          <span class="price">$500.00</span>
          <span class="cart">
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
    </div>
  </section>
</div>